/* VARIABLES */
:root {
    --blue: #377bfa;
    --black: #393941;
    --font1: "Quicksand", sans-serif;
}

/* CONTAINER */
.container {
    width: 80%;
    max-width: 1300px;
}
@media screen and (max-width: 1120px) {
    .container {
        width: 95%;
    }
}

/* SECTION */
section {
    width: 100%;
    padding: 55px 0;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1120px) {
    section {
        padding: 24px 0;
    }
}

/* BUTTONS */
button {
    border-radius: 999px;
    padding: 12px 20px;
    cursor: pointer;
    font-family: var(--font1);
    font-weight: 500;
}
button:hover {
    transition: ease-in-out;
    transition: 0.5s;
    background-color: white;
}
.btn-blue {
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
}
.btn-black {
    background-color: #101012;
    color: white;
    border: 1px solid black;
}
.btn-black:hover {
    color: black;
}
.btn-blue:hover {
    color: var(--blue);
}
.btn-solid-white {
    background-color: white;
    color: black;
    border: none;
    transition: ease-in-out;
    transition: 0.5s;
    border: 1px solid white;
}
.btn-solid-white:hover {
    transition: ease-in-out;
    transition: 0.5s;
    background-color: transparent;
    color: white;
}
.btn-outline-white {
    border: none;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    transition: ease-in-out;
    transition: 0.3s;
}
.btn-outline-white:hover {
    transition: ease-in-out;
    transition: 0.3s;
    color: black;
}
/* BUTTONS-END */
/* BODY */
body {
    width: 100%;
    background-color: white;
    font-family: var(--font1);
}

/* HEADER-SECTION */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
}
ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.nav-btn-group {
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 1120px) {
    .nav-links {
        display: none;
    }
}
/* HEADER-END */

/* HERO-START */
.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 40px;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: var(--blue);
    gap: 40px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
    color: white;
}
.hero-left h1 {
    margin-bottom: 16px;
    font-size: 64px;
}
.hero-left p {
    font-size: 18px;
}
.hero-btns {
    display: flex;
    gap: 20px;
}
.hero-right {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 45%;
    gap: 30px;
    box-sizing: border-box;
}
.hero-right img {
    max-width: 50%;
    flex: 1;
    height: auto;
    border-radius: 20px;
}

@media screen and (max-width: 1120px) {
    .hero-content {
        flex-direction: column;
        padding: 40px 40px;
        gap: 20px;
    }
    .hero-left {
        width: 100%;
    }
    .hero-right {
        width: 100%;
    }
    .hero-right img {
        width: 50%;
    }
    .hero-left h1 {
        font-size: 48px;
    }
    .hero-left p {
        font-size: 16px;
    }
    .hero-btns {
        flex-direction: column;
        gap: 10px;
    }
}
/* hero-end */

/* MEDICAL-SECTION */
.medical-section-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.medical-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
}
.medical-card {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 23px;
    padding: 25px;
    padding-right: 60px;
    gap: 20px;
    cursor: pointer;
    transition: ease-in-out;
    transition: 0.3s;
}
.medical-card:hover {
    transition: ease-in-out;
    transition: 0.3s;

    background-color: #eff6ff;
}
.medical-card:hover h3 {
    transition: ease-in;
    transition: 0.2s;
    color: var(--blue);
}
.medical-card:hover :nth-child(1) img {
    transition: ease-in;
    transition: 0.4s;
    border: 1px solid var(--blue);
    background-color: #f7f7f8;
}
.medical-card img {
    border: 1px solid white;
    width: 45px;
}
.med-img-div img {
    display: flex;
    align-items: center;
    background-color: #eff6ff;
    border-radius: 15px;
    padding: 10px;
}
.flex-arrow {
    display: flex;
    align-items: center;
    gap: 10px;
}
.flex-arrow img {
    width: 20px;
}

.medical-row h3 {
    font-size: 24px;
    margin: 0;
}
.medical-row p {
    margin: 0;
    font-size: 14px;
}
.medical-section-content h2 {
    margin: 0;
    font-size: 48px;
}

@media screen and (max-width: 1120px) {
    .medical-row {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .medical-card {
        padding: 25px;
        padding-right: 25px;
    }
    .medical-section-content h2 {
        font-size: 32px;
    }
    .medical-row h3 {
        font-size: 20px;
    }
    .medical-row p {
        font-size: 12px;
    }
    .medical-section-content {
        width: 95%;
    }
}
/* MEDICAL-END */

/* HEALTH-SECTION */

.Health-section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff6ff;
    border-radius: 20px;
    padding: 50px;
    box-sizing: border-box;
}
.left-health {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.left-health img {
    border-radius: 20px;
}
.right-health {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.health-btn-group {
    display: flex;
    gap: 10px;
}
.right-health h2 {
    font-size: 48px;
    margin: 0;
}
.right-health p {
    max-width: 560px;
}
@media screen and (max-width: 1120px) {
    .Health-section-content {
        width: 95%;
        flex-direction: column;
        gap: 15px;
        padding: 30px;
    }
    .health-btn-group {
        flex-direction: column;
    }
    .right-health h2 {
        font-size: 30px;
    }
    .right-health,
    .left-health {
        width: 100%;
    }
    .left-health img {
        width: 100%;
    }
}
/* HEALTH-END */
/* EMERGENCY-SECTION */
.emergency-section-content {
    display: flex;
    align-items: stretch;
    gap: 50px;
    width: 100%;
}
.emergency-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.emergency-right {
    width: 50%;
    border-radius: 20px;
    box-shadow: 6px 6px 10px 0 rgba(174, 174, 192, 0.4);
    background-image: url("images/100.jpg");
    background-size: cover;
    background-position: center;
}
.emergency-card {
    display: flex;
    border: 1px solid gray;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    gap: 25px;
    box-sizing: border-box;
}
.emergency-text-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.emergency-card img {
    width: 65px;
}
/* EMERGENCY-TEXT-CONTENT */

.emergency-left h2,
p {
    margin: 0;
}
.emergency-text-group p {
    color: #377bfa;
    font-weight: bolder;
}
/* RESPONSIVE-EMERGENCY */
@media screen and (max-width: 1120px) {
    .emergency-section-content {
        width: 95%;
        flex-direction: column;
    }
    .emergency-left {
        width: 100%;
    }
    .emergency-card {
        width: 100%;
    }
    .emergency-right {
        width: 100%;
        height: 600px;
    }
    .emergency-right img {
        width: 100%;
    }
}

/* EMERGENCY-END */
/* TEAM-SECTION */
.team-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}
.team-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 44px;
}
.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    gap: 20px;
    border: 1px solid #d9d9de;
    transition: ease-in;
    transition: 0.3s;
    box-shadow: 6px 6px 10px 0 #fff, 6px 6px 10px 0 rgba(174, 174, 192, 0.4);
}
.dr-title-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.social-media-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.social-media-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.circle-socials {
    display: flex;
    border-radius: 50%;
    padding: 7px;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
    transition: ease-in-out;
    transition: 0.2s;
}

.social-row2 {
    display: flex;
    gap: 10px;
}
.top-team-group {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.dr-title-text h2 {
    margin: 0;
}
.dr-title-text {
    gap: 5px;
}
/* TEAM-TEXT-STYLES */
.team-card p {
    color: #91939f;
}
.top-team-group p {
    max-width: 750px;
}
.top-team-group h2 {
    font-size: 44px;
}
/* HOVER-EFFECT-SECTION */
.team-card:hover {
    transition: ease-in;
    transition: 0.3s;
    border: 1px solid var(--blue);
}
#card-img:hover {
    transform: scale(1.1);
    transition: ease-in-out;
    transition: 0.3s;
}
#card-img {
    width: 50%;
    border-radius: 50%;
    transition: ease-in-out;
    transition: 0.3s;
    cursor: pointer;
}
.circle-socials:hover {
    background-color: var(--blue);
    transition: ease-in-out;
    transition: 0.2s;
}
/* RESPONSIVE */
@media screen and (max-width: 1120px) {
    .team-grid-container {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .team-card {
        width: 100%;
    }
    .top-team-group h2 {
        font-size: 24px;
    }
    .team-card img {
        width: 100%;
    }
    .top-team-group p {
        font-size: 12px;
        max-width: 300px;
    }
    .top-team-group {
        align-items: center;
    }
}
/* TEAM-SECTION-END */
/* REVIEW-SECTION */
.review-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}
.review-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.review-top-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.review-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 25px;
    border-radius: 25px;
    gap: 20px;
    border: 1px solid #91939f;
    transition: ease-in;
    transition: 0.2s;
    box-shadow: 6px 6px 10px 0 #fff, rgba(174, 174, 192, 0.4);
}
.btm-card-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btm-text-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* TEXT-STYLES */
.btm-card-group h2 {
    margin: 0;
}
.review-top-group p {
    max-width: 750px;
}
.review-top-group h2 {
    font-size: 44px;
}
.review-card img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.btm-text-col p {
    color: #91939f;
}
.review-card h2 {
    font-size: 20px;
}
.review-card p {
    max-width: 700px;
    font-size: 14px;
}
/* HOVER-EFFECTS */

.review-card:hover {
    transition: ease-in;
    transition: 0.2s;
    border: 1px solid var(--blue);
}
/* RESPONSIVE */
@media screen and (max-width: 1120px) {
    .review-grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .review-card {
        width: 95%;
    }
}
/* REVIEW-END */
/* SPECIAL-SECTION */
.special-section {
    display: flex;
    flex-direction: column;
    gap: 55px;
    width: 100%;
}
.special-justify-between {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.special-split-flex {
    width: 100%;
    display: flex;
    gap: 50px;
}
.special-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.special-right-card-flex {
    display: flex;
    align-items: start;

    gap: 18px;
}
.card-col-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* TEXT-STYLES */
.special-left img {
    width: 675px;
    border-radius: 20px;
    box-shadow: 6px 6px 10px 0 #fff, rgba(174, 174, 192, 0.4);
}

.special-right h2 {
    margin: 0;
}
.special-justify-between p {
    max-width: 500px;
    font-size: 16px;
}
.special-justify-between h2 {
    font-size: 48px;
}
.special-right-card-flex h2 {
    font-size: 24px;
}
.special-right-card-flex img {
    border-radius: 10px;
    padding: 10px;
    background-color: #eff6ff;
}
.special-right-card-flex p {
}
/* RESPONSIVE */

@media screen and (max-width: 1120px) {
    .special-section {
        width: 95%;
    }
    .special-justify-between {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .special-justify-between h2 {
        font-size: 24px;
    }
    .special-split-flex {
        flex-direction: column;
    }
    .special-left img {
        width: 100%;
    }
    #test {
        font-size: 16px;
    }
}
/* SPECIAL-END */
/* MATURNITY-SECTION */
.maturnity-section {
    display: flex;
    width: 100%;
    padding: 30px 0px;
    gap: 50px;
}
.maturnity-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.maturnity-card-flex {
    display: flex;
    gap: 20px;
    align-items: start;
}
.maturnity-col-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* TEXT-STYLES */
.maturnity-card-flex img {
    background-color: #eff6ff;
    padding: 10px;
    border-radius: 15px;
}
.maturnity-left h2 {
    margin: 0;
}
.maturnity-right img {
    width: 675px;
    border-radius: 20px;
}
/* RESPONSIVE */
@media screen and (max-width: 1120px) {
    .maturnity-section {
        width: 95%;
        flex-direction: column;
    }
    .maturnity-right img {
        width: 100%;
    }
}
/* MATURNITY-END */
/* APPOINTMENT-SECTION */
.Appointment-section {
    display: flex;
    width: 100%;
    padding: 120px 40px;
    background-color: var(--blue);
    border-radius: 20px;
    box-sizing: border-box;
}
.appointment-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.appointment-left {
    width: 50%;
}
form {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.input-group {
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
/* TEXT-STYLES */
.appointment-left img {
    width: 500px;
    border-radius: 20px;
}
input,
textarea {
    border: none;
    outline: none;
    resize: none;
}
/* RESPONSIVE */
@media screen and (max-width: 1120px) {
    .Appointment-section {
        width: 95%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .appointment-left img {
        width: 100%;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
    .input-group {
        width: 100%;
    }
}
/* APPOINTMENT-END */
/* ARTICLE-SECTION */
.article-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}
.article-justify-between {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.row-container {
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    width: 100%;
}
.article-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    gap: 15px;
    padding: 25px;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.article-row-text {
    display: flex;
    gap: 20px;
}
/* TEXT-STYLES */
.article-card img {
    border-radius: 20px;
    transition: ease-in-out;
    transition: 0.4s;
}
.left-article p {
    max-width: 750px;
}
.article-card p,
h3 {
    margin: 0;
}
/* HOVER-EFFECTS */
.article-card:hover {
    transition: ease-in;
    transition: 0.3s;
    background-color: #eff6ff;
}
.article-card:hover h3 {
    transition: ease-in;
    transition: 0.2s;
    color: var(--blue);
}
.article-card:hover img {
    transform: scale(104%);
    transition: ease-in-out;
    transition: 0.5s;
}
/* RESPONSIVE */

@media screen and (max-width: 1120px) {
    .row-container {
        flex-direction: column;
    }
    .article-justify-between {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 10px;
    }
    .article-card {
        width: 100%;
    }
    .article-section {
        width: 95%;
    }
}
